[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    editor = vim
[user]
    name = {{ git_full_name }}
    email = {{ git_email }}
{% if git_signing_key is defined %}
    signingkey = {{ git_signing_key }}
{% endif %}
[commit]
    template = ~/.gitcommitmsg
[diff]
    tool = vimdiff
    submodule = log
    ui = auto
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    # https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk

    amend = commit --amend

{% for git_alias in git_aliases %}
    {{ git_alias }}
{% endfor %}

